LANG_SMITH_API_KEY=""

AZURE_PROJECT_ENDPOINT=""
AZURE_API_KEY=""
MS_CLIENT_ID=""
MS_TENANT_ID=""
MS_ADMIN_OIDS=""

AZURE_EMBEDDING_OPENAI_ENDPOINT=""
AZURE_EMBEDDING_OPENAI_DEPLOYMENT_NAME=""
AZURE_EMBEDDING_OPENAI_KEY=""

VECTOR_DB_USERNAME="postgres"
VECTOR_DB_PASSWORD="root"
VECTOR_DB_HOST="localhost"
VECTOR_DB_PORT="5445"
VECTOR_DB_NAME="chat-app-vector-db"

LMNR_PROJECT_API_KEY=""